.vite

# Ignore InteliJ
.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

#### NODE ###
node_modules/
dist/
